<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>buttonLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{196,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,70}}</string>
                <key>sourceSize</key>
                <string>{196,70}</string>
            </dict>
            <key>buttonSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,367},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>frame_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,418},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>frame_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,343},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>frame_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,367},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>groundDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,294},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,221},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,148},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,75},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>medalBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,367},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>medalGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,367},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>medalSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,227},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>planeBlue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,367},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeBlue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,367},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeBlue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,367},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeGreen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,367},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeGreen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,367},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeGreen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,367},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,152},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,77},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,2},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeYellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,404},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeYellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,416},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeYellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>puffLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,329},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>puffSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,243},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,243},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,243},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockGrassDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,266},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockIceDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,268},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockSnowDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,268},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>starBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,457},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>starGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,457},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>starSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,457},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,200},{41,41}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{41,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>tapLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,457},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>tapRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,457},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>tapTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,268},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>textGameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,78}}</string>
                <key>sourceSize</key>
                <string>{412,78}</string>
            </dict>
            <key>textGetReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{400,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,73}}</string>
                <key>sourceSize</key>
                <string>{400,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1733,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1998ab42db272f08fb253a87d97c7dc:8736d5e30cfe04ab2bf769f90d2cf450:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
